.main {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: none;
  
}
.basic {
    background-color: #8bc34a;
    color: white;
    border: none;
  
    &:hover {
      background-color: #81a656;
      color: black;
    }
}
.inverted {
    background-color: white;
    color: black;
  
    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
}
.google {
    background-color: #4285f4;
    color: white;
  
    &:hover {
      background-color: #357ae8;
      border: none;
    }
}